<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <table>
        <tr>
            <th>ID</th>
            <th>ISBN</th>
            <th>Title</th>
            <th>Author</th>
            <th>Category</th>
            <th>Stock</th>
        </tr>
        <%books.forEach(d => {%>
            <tr>
                <td><%=d.id%></td>
                <td><%=d.isbn%></td>
                <td><%=d.title%></td>
                <td><%=d.author%></td>
                <td><%=d.category%></td>
                <td><%=d.stock%></td>
                <td><a href='/books/edit/<%=d.id%>'>Edit</a></td>
                <td>
                    <form action='/books/<%=d.id%>' method='post'> 
                        <input type="hidden" name="_method" value="delete">
                        <button type='submit'>Delete</button>
                    </form>
                </td>
            </tr>
        <%})%>
    </table>
    <form action='/books' method='post'>
        <input type='text' name='isbn' placeholder='ISBN'>
        <input type='text' name='title' placeholder='Title'>
        <input type='text' name='author' placeholder='Author'>
        <input type='text' name='category' placeholder='Category'>
        <input type='number' name='stock' placeholder='Stock'>
        <button type='submit'>Submit</button>
    </form>
    <a href='/customers'>Customers</a>
    <a href='/books'>Books</a>
    <a href='/collections'>Transactions</a>
    <a href='/'>Home</a>
  </body>
</html>
