<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="/customers/add">Add a customer</a>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Member Id</th>
            <th>Address</th>
            <th>Zipcode</th>
            <th>Phone</th>
        </tr>
        <%customers.forEach(d => {%>
            <tr>
                <td><%=d.id%></td>
                <td><%=d.name%></td>
                <td><%=d.memberid%></td>
                <td><%=d.address%></td>
                <td><%=d.zipcode%></td>
                <td><%=d.phone%></td>
                <td><form action='/customers/delete/<%=d.id%>'><button type='submit'>Delete</button></form></td>
                <td><a href='/customers/edit/<%=d.id%>'>Edit</a></td>
            </tr>
        <%})%>
    </table>
    <a href='/customers'>Customers</a>
    <a href='/books'>Books</a>
    <a href='/collections'>Transactions</a>
    <a href='/'>Home</a>
  </body>
</html>
