<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <table>
        <tr>
            <th>ID</th>
            <th>Member Name</th>
            <th>Days</th>
            <th>Out Date</th>
            <th>Due Date</th>
            <th>In Date</th>
            <th>Fine</th>
            <th>Booklist</th>
        </tr>
        <%transaction.forEach(d => {%>
            <tr>
                <td><%=d.id%></td>
                <td><%=d.member.name%></td>
                <td><%=d.days%></td>
                <td><%=d.out_date%></td>
                <td><%=d.due_date%></td>
                <td><%=d.in_date%></td>
                <td><%=d.fine%></td>
                <td>
                    <ul>
                        <%d.booklist.forEach(b => {%>
                        <li><%=b.title%></li>        
                        <%})%>
                    </ul>
                </td>
            </tr>
        <%})%>
    </table>
    <a href='/customers'>Customers</a>
    <a href='/books'>Books</a>
    <a href='/collections'>Transactions</a>
    <a href='/'>Home</a>
  </body>
</html>
